body {

    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    background: url(FjcQ_AsakAEZJtV\ .jpg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    
}



* {
    margin: 0;
}