body {
    display: flex;
    background-color: white;



}

.custm {
    margin: auto;
    width: 300px;
    height: 100px;
    cursor: pointer;

max-width: ;

}

.custm1 {
    padding: 40vh;
    margin: auto;
    justify-items: center;
    align-items: center;
}

